@model CompanyManagement.Models.EmployeeLeavesModel
@{
    ViewData["Title"] = "ApplyLeave";
}

<h1>Apply Leave</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form action="@Url.Action("ApplyLeave", "Leave")" method="post">
            <div class="form-group">
                <label for="leaveStartDate" class="control-label">Date of Birth:</label>
                <input type="date" id="leaveStartDate" name="leaveStartDate" class="form-control" />
                @Html.ValidationMessageFor(model => Model.leaveStartDate, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="leaveEndDate" class="control-label">Date of Birth:</label>
                <input type="date" id="leaveEndDate" name="leaveEndDate" class="form-control" />
                @Html.ValidationMessageFor(model => Model.leaveEndDate, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="leaveReason" class="control-label">Leave Reason:</label>
                <textarea type="text" id="leaveReason" name="leaveReason" class="form-control"></textarea>
                @Html.ValidationMessageFor(model => model.leaveReason, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Submit Leave" />
            </div>
        </form>

    </div>
</div>
<br />
<div>
    <a href="@Url.Action("Index", "Leave")">Back to List</a>
</div>
